<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs') %>

<main>
    <h2>cursos</h2>

    <section>
        <ul>
            <li class="cursos">curso 1</li>
            <li class="cursos">curso 2</li>
            <li class="cursos">curso 3</li>
            <li class="cursos">curso 4</li>
            <li class="cursos">curso 5</li>
            <li class="cursos">curso 6</li>
            <li class="cursos">curso 7</li>
        </ul>
    </section>
</main>

<%- include('templates/footer.ejs') %>