<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs', {
    title: 'Cursos',
    descripcion: 'Esta es la descripción de cursos'
}) %>

<article>
    <h2 id="cursosHeader">cursos</h2>

    <section>
        <% tipo.forEach(element => { %>
            <ul>
                <li class="cursosLista"><%= element.numero %></li>
            </ul>    
        <% }) %>
    </section>
</article>

<%- include('templates/footer.ejs') %>