<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs', {
    title: 'Index',
    descripcion: 'Esta es la descripción del index'
}) %>

<main>
    <div class="imagen-alumnos">
        <img src="assets/alumnos2.jpg" alt="">
    </div>
    <p class="parrafoIndex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, qui culpa. Rerum doloremque provident, aliquam modi vero atque excepturi sequi minus placeat tenetur, quisquam, minima neque perferendis accusantium magnam repellat!></p>
    <div class="imagen-alumnos">
        <img src="assets/alumnos.jpeg" alt="">
    </div>
    <p class="parrafoIndex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, qui culpa. Rerum doloremque provident, aliquam modi vero atque excepturi sequi minus placeat tenetur, quisquam, minima neque perferendis accusantium magnam repellat!></p>
</main>

<%- include('templates/footer.ejs') %>