<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs') %>

<main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, qui culpa. Rerum doloremque provident, aliquam modi vero atque excepturi sequi minus placeat tenetur, quisquam, minima neque perferendis accusantium magnam repellat!></p>
</main>

<%- include('templates/footer.ejs') %>