<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs') %>

<h1>Galería de imágenes</h1>
    <main>
        <div class="gallery">
            <img src="/assets/imagen1.jpg" alt="Imagen 1">
            <img src="/assets/imagen2.jpg" alt="Imagen 2">
            <img src="/assets/imagen3.jpg" alt="Imagen 3">
            <img src="/assets/imagen4.jpg" alt="Imagen 4">
            <img src="/assets/imagen5.jpg" alt="Imagen 5">
            <img src="/assets/imagen6.jpg" alt="Imagen 6">
        </div>
    </main>

<%- include('templates/footer.ejs') %>