<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs') %>

<main>
    <section class="profesores">
        <h2>Profesores</h2>
        <div class="profesor">
            <img src="/assets/profesor1.jpeg" alt="Profesor 1">
            <h3>Nombre del Profesor 1</h3>
            <p>Descripción del Profesor 1.</p>
        </div>
        <div class="profesor">
            <img src="/assets/profesor2.jpg" alt="Profesor 2">
            <h3>Nombre del Profesor 2</h3>
            <p>Descripción del Profesor 2.</p>
        </div>
        <div class="profesor">
            <img src="/assets/profesor3.avif" alt="Profesor 3">
            <h3>Nombre del Profesor 3</h3>
            <p>Descripción del Profesor 3.</p>
        </div>
    </section>

<%- include('templates/footer.ejs') %>