<nav class="flexContainer">
    <ul>
        <li><a href="/">index</a></li>
        <li><a href="cursos">cursos</a></li>
        <li><a href="profesores">profesores</a></li>
        <li><a href="instalaciones">instalaciones</a></li>
        <li><a href="contacto">contacto</a></li>
    </ul>
</nav>